ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color:red;
}

/* class selector */

.note{
  font-size: 20px;
}

/* ID selector in css */

#id-selector-demo{
  color: green
}

/* Attribute selector in CSS  */

li[value="4"]{
  color: blue
}

/* Universal selector in CSS */

* {
  text-align: center
}